body {
    font-family: Arial, sans-serif;
    background-color: #e63e3e;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body stretches to at least the height of the viewport */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

}

header {
    background-image: url('../../assets/pic1.jpg');
    color: #272728;
    padding-top: 30px;
    min-height: 70px;
    margin-top: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font stack */
    border-bottom: #e8491d 3px solid;
    
}

header a {
    color: #070707;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font stack */
    text-align: center;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header h1 {
    float: left;
    display: inline;
    margin: 0;
    padding-left: 20px;
}
